/* Configuración de Rofi en Wayland */
/* Ubicación original destino: ~/.config/rofi/config.rasi */

configuration {
    modi: "drun,run,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "xfce4-terminal";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Ejecutar ";
    display-window: " 󰖲  Ventanas ";
    sidebar-mode: true;
}

@theme "/dev/null"

* {
    bg-col:  #1e1e2e;
    bg-col-light: #1e1e2e;
    border-col: #cba6f7;
    selected-col: #313244;
    blue: #89b4fa;
    fg-col: #cdd6f4;
    fg-col2: #f38ba8;
    grey: #6c7086;

    width: 600;
    /* Fuente SauceCodePro Nerd Font de tamaño 9 (Requerimiento) */
    font: "SauceCodePro Nerd Font 9";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    height: 360;
    border: 1px;
    border-color: @border-col;
    background-color: @bg-col;
    border-radius: 6px;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @blue;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 3px;
    margin: 10px 0px 0px 10px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 6px;
    margin: 10px 10px 0px 10px;
    text-color: @fg-col;
    background-color: @bg-col;
    placeholder: "Buscar...";
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 10px 0px 10px;
    columns: 1;
    lines: 8;
    background-color: @bg-col;
}

element {
    padding: 5px;
    background-color: @bg-col;
    text-color: @fg-col;
}

element-icon {
    size: 20px;
}

element selected {
    background-color:  @selected-col;
    text-color: @blue;
    border-radius: 4px;
}

mode-switcher {
    spacing: 0;
  margin: 10px 10px 10px 10px;
}

button {
    padding: 5px;
    background-color: @bg-col;
    text-color: @grey;
    vertical-align: 0.5; 
    horizontal-align: 0.5;
}

button selected {
  background-color: @bg-col;
  text-color: @blue;
}

message {
    background-color: @bg-col;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

textbox {
    padding: 6px;
    margin: 10px 0px 0px 20px;
    text-color: @blue;
    background-color: @bg-col;
}
