[Desktop Entry]
Name=Eclipse IDE
Comment=Eclipse Integrated Development Environment
Exec=/home/johnny/.local/bin/eclipse %u
Icon=/home/johnny/Apps/eclipse/icon.xpm
Terminal=false
StartupWMClass=Eclipse
Type=Application
Categories=Development;IDE;Java;
StartupNotify=true
MimeType=text/x-java;text/x-java-source;
